.webname_a {  
    margin-left: 0.3%;
    margin-top: 0px;
    color: #38b6ff;
    font-size: 20px;
    font-weight: 500;
   }
 
.webname_b {
     margin-top: 0px;
     margin-left: 0.5%;
     margin-right: 0.5%;
     color: #ffffff;
     font-size: 20px;
     font-weight: 500;
    }
 
.webname_c {
     margin-top: 0px;
     color: #ff5757;
     font-size: 20px;
     font-weight: 500;
    }